<tr>
  <td><%= keyword.keyword %></td>
  <td><%= keyword.ad_result.count%></td>
  <td><%= keyword.search_result.count%></td>
  <td><%= keyword.ad_result.count + keyword.search_result.count%></td>
  <td><%= keyword.page_result %></td>
</tr>
